<footer class="uk-margin-left uk-margin-right uk-margin-auto-top">
    <hr>
    <p>&copy; <%= new Date().getFullYear(); %> Alif Borgmeier</p>
</footer>
</body>
</html>

<!--
    ___    ___ ____   ____                                  _          
   /   |  / (_) __/  / __ )____  _________ _____ ___  ___  (_)__  _____
  / /| | / / / /_   / __  / __ \/ ___/ __ `/ __ `__ \/ _ \/ / _ \/ ___/
 / ___ |/ / / __/  / /_/ / /_/ / /  / /_/ / / / / / /  __/ /  __/ /    
/_/  |_/_/_/_/    /_____/\____/_/   \__, /_/ /_/ /_/\___/_/\___/_/     
                                   /____/                              
-->
