<%- include('partials/header', { title: "Admin Panel", stylePaths: [] }) %>

<%- include('partials/navbar', { title: "Admin Panel", isAdmin: isAdmin, path: path }) %>

<main>
  <nav aria-label="Breadcrumb" class="uk-margin-left uk-margin-right uk-margin-top">
    <ul class="uk-breadcrumb">
        <li><span aria-current="page">Settings</span></li>
    </ul>
  </nav> 
  <div class="uk-section">
    <div class="uk-margin-left uk-margin-right">
      <h2>Welcome to the admin panel.</h2>
      <p>Here you can find all the admin settings</p>
    </div>
  </div>
  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-margin-left uk-margin-right">
      <h2>Admin settings</h2>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
          <thead>
            <tr>
              <th class="uk-table-shrink"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div
                  class="uk-flex uk-flex-center uk-flex-middle uk-light"
                  style="
                    width: 40px;
                    height: 40px;
                    background-color: dimgray;
                    border-radius: 50%;
                  "
                >
                  V
                </div>
              </td>
              <td class="uk-table-link"><a href="/admin-panel/verification" class="uk-link-reset">Manage verification</a></td>
            </tr>
            <tr>
                <td>
                  <div
                    class="uk-flex uk-flex-center uk-flex-middle uk-light"
                    style="
                      width: 40px;
                      height: 40px;
                      background-color: dimgray;
                      border-radius: 50%;
                    "
                  >
                    P
                  </div>
                </td>
                <td class="uk-table-link"><a href="/admin-panel/posts" class="uk-link-reset">Manage posts</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


<%- include('partials/notification', { errorMessage: errorMessage, infoMessage: infoMessage }) %> <%-
include('partials/footer') %>
